@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap'); 

:root{
    --primairy-color:#009444;
    --secondary-color: #F7F5EB; 
    --accent-color: #A6CF98;
    --heading-text: 'Outfit 700', sans-serif; 
    --subheading-text: 'Outfit 600', sans-serif;
    --body-text: 'Outfit 400', sans-serif;
} 

body{
    background-color: var(--secondary-color);
} 
.logo img {
    width: 6.25rem;
}
h1{
    font-family: var(--heading-text);
} 

h2{
    font-family: var(--subheading-text);
}

p{
    font-family: var(--body-text);
}

nav{
    display: flex;
    flex-direction: row; 
    color: var(--accent-color);
    padding: 0.625rem;
    height: 3.125rem;
    justify-content: space-between; 
    font-family: var(--body-text);
} 

#menu-toggle{
    display: none;  
    border:none;
}

#list.active{
    display: flex; 
}

nav ul {
    display: flex;
    gap: 1.25rem;
    list-style-type: none; 
} 

nav a {
    text-decoration: none;
    color: var(--primairy-color); 
 } 

.hero{
    background-image: linear-gradient(transparent 20%, rgba(20, 19, 19, 0.663) 80%) ,url(..//images/vadim-kaipov-8ZELrodSvTc-unsplash.jpg);
    background-size: cover;
    min-height: 46.875rem; 
    color: var(--secondary-color);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    align-items: center; 
    text-shadow: .0625rem .00625rem 0.25rem black;
}  

.hero h1, .hero p{
    margin: 1.25rem;
    max-width: 34.375rem;
} 

#products h2{
    font-size: 3rem; 
    margin-left: 1.875rem; 
    color: var(--primairy-color);
}

.product-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 3.125rem;
} 

.plants p{
    text-align: center;
    background-color: var(--accent-color);
    height: 3.125rem; 
    margin:auto; 
    padding: .625rem;
} 
.plants img {
    display: block;
} 

#gallery{
     background-color: var(--accent-color); 
     margin-top: 3.125rem; 
     padding: 1.875rem;
} 

#gallery h2{
    text-align: center;
    color: var(--primairy-color);
    font-size: 3rem;
}

.photo-gallery{ 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
}

#footer{
    background-color:var(--primairy-color); 
    margin: .625rem auto; 
    height: 4.0625rem;
} 

.socials ul, .socials ul li{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.socials ul li a{ 
    font-family: var(--body-text);
    color: var(--secondary-color);
    padding: .625rem; 
    margin-left: .9375rem;
}

@media screen and (max-width: 48em){ 

    .hero{
        background-size: cover;
        background-position: center;
    } 
    
    #products h2{
        text-align: center;
    }

    .product-gallery{
        flex-direction: row;
    } 

    .photo-gallery{
        grid-template-columns: 1fr;
        row-gap: .9375rem;
    }
} 

@media screen and (max-width: 30em){ 

    #list{
        display: none;
        flex-direction: column;
        position: absolute; 
        background-color: var(--secondary-color); 
        padding: 1.25rem; 
        border-radius: 0.625rem;
    } 

    #menu-toggle{
        display: block; 
        color: var(--primairy-color);
    } 

    #menu.active{
        display: flex; 
    }

    .hero{
        min-height: 31.25rem; 
    } 

    #products h2{
        text-align: center;
        font-size: 1.875rem;
    }

    .plants img {
        width: 100%;
    }
    .product-gallery{
        flex-direction: column;
    } 

    .photo-gallery img{
        width: 100%;
    } 

    #footer{
        height: 7.1875rem;
    }

    .socials ul, .socials ul li{
        flex-direction: column;
        justify-content: center;
    }

}